body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.header {
    background-color: #282c34;
    color: white;
    padding: 50px 0;
    text-align: center;
}

.header h1 {
    margin: 0;
    font-size: 3em;
}

.header p {
    font-size: 1.2em;
    margin-top: 10px;
}

.intro {
    padding: 20px;
    background-color: white;
    text-align: center;
}

.intro h2 {
    margin-top: 0;
}

.projects {
    padding: 20px;
}

.projects h2 {
    text-align: center;
}

.project {
    background-color: white;
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
